.not-found {
      position: fixed;
      top: 0;
      width: 100vw;
      height: 100vw;
      background-color: #fff;
      display: flex;
      justify-content: center;
      /* align-items: center; */
      font-size: medium;
}